* {
    margin: 0px;
    padding: 0px;
}


#nav {
    transition-duration:0.8s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #fcd5dc;
    padding-bottom: 17px;;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#first>li {
    display: inline-block;
    transition-property: all;
    font-weight: 800;
    padding: 15px;
    /* margin: 4px; */
    transition-duration: 0.5s;
    cursor: pointer;
    font-size:20px;
}

#first>li:hover {
    background-color: #910f82;
    border-radius: 18px;
    color: #fff
}

#first>li>a {
    text-decoration: none;
    color: black
}

#first>li:nth-child(1) {
    font-size: 30px;
    color: #b00b50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#first>li:hover:nth-child(1) {
    /* background-color: rgb(115, 237, 185); */
    background-color: #e526b8;
    color: black
}


#box1 {
    border: 2px solid black;
    width: 250px;
    height: 42px;
    background-color: #e22071;
    margin-right: 15px;
    text-align: center;
    margin-top: 10px;
    border-radius: 22px;
    padding-top: 10px;

}

#box2 {
    width: 100px;
     height: 30px; 
     margin-left: 20px; 
    margin-bottom: 12px; 
    margin-right: 67px; 
    /* padding-top:20px; */
    text-align: center;
}

#second>li {
    display: inline-block;
}

#second>#box1>a {
    color: black;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;

    /* background-color:#0768F8 */

}

#second>#box1>:hover {
    color: #fff
}

#second>#box2>:hover {
    color: rgb(56, 13, 13)
}

#second>#box2>a {
    color: rgb(112, 89, 89);
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    margin-bottom: 13px;
    /* background-color:#0768F8 */

}

#container {
    background-color: #d0eaef;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container1>h1 {
    padding-top: 70px;
}


#container1 {

    width: 600px;
    padding: 65px;
    color: hsl(0, 0%, 20%);
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 40px;

    /* padding-top: 10px; */
    /* margin:30px 20px 90px ; */
    line-height: 75px;
    letter-spacing: -0.5px;
    /* border:3px solid blue; */
    /* padding-right: 140px;; */

}


#container2 {
    width: 600px;


    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}







/* #container1 { */
/* 
    width: 600px; */
/* height: 600px; */
/* padding:65px;
    color: hsl(0, 0%, 20%);
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 40px; */

/* padding-top: 10px; */
/* margin:30px 20px 90px ; */
/* line-height: 75px;
    letter-spacing: -0.5px; */
/* border:3px solid blue; */
/* padding-right: 140px;; */

/* } */

#container1>h1::first-line {
    color: #0768F8;
}

/* 
#container2 {
    width: 600px;
   

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
} */

#container1>p {
    font-size: 20px;
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    letter-spacing: 0.1px;
    line-height: 28px;
    margin-top: 32px;
    font-weight: 700;
}


a {
    text-decoration: none;
}



#signup>a {
    display: inline-block;
    background-color: #0768F8;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 35px;
    width: 200px;
    font-size: 25px;
    margin-top: 25px;

}

/* NAV BAR */
/* /DONE */


#outsidelogo {

    background: rgb(241, 239, 239);
}

.companylogo {
    width: 14%;

}

#logo img {
    width: 100%;
    opacity: 0.7;
    padding-bottom: 40px;
    aspect-ratio: 1.5;
}

#logo {
    padding-top: 45px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;

}



/* #container4 {

    background: #e9dbf2;


} */


#innercontainer4 {
    display: flex;
    flex-direction: column;
    /* border:2px solid black; */
    background: #e9dbf2;
    text-align: center;
    letter-spacing: 0px;
    justify-content: center;
    align-items: center;
    line-height: 65px;
    color: hsl(0, 0%, 20%);
}

#innercontainer4>#h1 {
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 40px;
    ;
    font-weight: 500;
    width: 60%;
    padding-top: 70px;

}

#innercontainer4>#p {
    letter-spacing: 0px;
    line-height: 35px;
    padding-top: 40px;
    width: 60%;
    padding-bottom: 80px;
    font-size: 30px;
    text-align: center;
    color: hsl(0, 0%, 20%);
}

#innercontainer4>#h1::first-line {
    color: #0768F8;
}

#innercontainer4>#p::first-letter {
    color: #0768F8;
}



#bottom {
    background: rgb(213, 210, 236);
}

#innerbottom {
    display: flex;
    justify-content: center;
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(58, 57, 57);
    letter-spacing: 0px;
    line-height: 30px;
    align-items: center;
}

#innerbottom1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid blue; */
    width: 30%;
    padding-top: 30px;
    padding-bottom: 60px;
}

#innerbottom1>h2 {
    padding-bottom: 30px;
    line-height: 60px;
    font-size: 55px;
    font-weight: 600;

}

#innerbottom1>h2::first-line {
    color: #cf26aa
}

#innerbottom1>p {
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
}

#innerbottom1>p::first-letter {
    color: #ec7b3dea;
}


#innerbottom2 {
    width: 44%;
    padding-top: 50px;
    padding-bottom: 130px;
}

#innerbottom2>video {
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

   #outerfitness{
    background: rgb(213, 210, 236);;
   }

#outerfitness {
    display: flex;
    justify-content: center;
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(58, 57, 57);
    letter-spacing: 0px;
    line-height: 30px;
    align-items: center;
}

#fitness2 {
    display: flex;
    flex-direction: column;
    

    /* border: 2px solid blue; */
    width: 25%;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left:5%;
}

#fitness2>h2 {
    padding-bottom: 30px;
    line-height: 60px;
    font-size: 55px;
    font-weight: 600;

}

#fitness2>h2::first-line {
    color: #cf26aa
}

#fitness2>p {
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 30px;
}

#fitness2>p::first-letter {
    color: #ec7b3dea;
}



#fitness1 {
    width: 44%;
    padding-top: 50px;
    padding-bottom: 130px;
}

#fitness1>video {
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}



#sync {
    display: flex;
    justify-content: center;
    /* height: 280px; */
    /* border:2px solid black; */
      font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(58, 57, 57);
    letter-spacing: 0px;
    line-height: 30px;
    align-items: center;
    background: rgb(213, 210, 236);
   

}

#sync1 {
    /* border:2px solid black; */
    width: 44%;
    /* margin-left: 134px; */
    /* margin-right: 215px; */
    padding-top: 50px;
    padding-bottom: 130px;

}

#sync1>h2 {

    padding-bottom: 30px;
    line-height: 60px;
    font-size: 65px;
    font-weight: 600;
    color: rgb(41, 39, 39);

}

#sync1>h2::first-line {
    color: #8419cc
}

#sync2 {
    /* padding-top: 40px; */
    /* border:2px solid black; */
    width: 25%;
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(58, 57, 57);
    /* line-height: 25px;
    font-size: 20px; */
    /* font-weight: 500; */
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left:5%;

}

#sync2>p{
    font-size: 20px;;
    font-weight: 600;;
}




.product1 {
    font-size: 20px;
    /* background-color: #20e284; */
    color: #537af1;
    padding-right: 185px;
    font-weight: 700;
}

.product1:hover {
    color: #173fb5
}







/* #outer1fitness { */
/* height: 600px; */
/* border:2px solid rgb(187, 46, 46); */
/* } */

/* #fitness1 { */
    /* display:flex;
        align-items: center;
        justify-content: center; */
    /* width: 600px;
    height: 451px; */
    /* border:2px solid rgb(4, 255, 0); */
    /* margin-left: 136px;
    ; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
/* } */

/* #fitness2 { */
    /* display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    /* justify-content: space-evenly; */
    /* width: 400px;
    height: 600px; */
    /* border:2px solid blue; */
    /* font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(58, 57, 57);
    letter-spacing: 0px;
    line-height: 30px;
    margin-left: 100px; */

/* } */

/* #fitness2>h2 {
    padding-bottom: 30px;
    ;
    line-height: 60px;
    font-size: 55px;
    font-weight: 600;

} */

/* #fitness2>h2::first-line {
    color: #2a36e2
} */


#fitness2>#new {
    margin-top: 80px;
    background-color: #570d89;
    color: #fff;
    display: block;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;

}

/* #fitness2>p {
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 50px;
} */


#photo {
    display:flex;
    /* width:60%; */
    justify-content: center;
    background: rgb(214, 238, 202);
    /* height: 800px; */
    padding-bottom: 50px;;
    /* padding-top: 30px; */
   
    
}

#photo img {
    width: 60%;
    
    /* margin-left: 300px; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.outerfitness{
    display:flex;
    justify-content:center ;
    }

.fitness1 img {
    width: 100%;
}

.fitness1{
    width:60%;
}

#outerlast {
    display: flex;
    justify-content: center;
    /* margin-right: 30px; */
    /* height: 850px; */
    /* width: 1518px; */
    background: #ceecf1;
    /* background: #173fb5; */

}

#lastdiv1 {
    width:40%;
    /* border:2px solid black; */
   
}

#lastdiv1>img {
    /* width: 370px; */
    /* height: 577px; */
    width:90%
}

#lastdiv1 h2 {
    font-size: 40px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: hsl(0, 0%, 20%);
    line-height: 45px;
    ;
    padding-bottom: 50px;
}

#lastdiv2 img {
    width: 160px;
    height: 25px;
    padding-top: 220px;
    padding-bottom: 20px;
}

#lastdiv2 {
    width: 400px;
    /* border:2px solid rgb(226, 25, 25); */
    font-size: 20px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: hsl(0, 0%, 20%);

}

#lastdiv2 h3 {
    padding-bottom: 30px;

}

#lastdiv2 h5 {
    font-weight: 500;
}

#end-div {
    background: #d0f6d1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#inner-end-div {
    width:60%;
    /* height: 500px; */
    /* border:2px solid blue; */
    color: hsl(0, 0%, 20%);
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin: auto;
    padding-top: 70px;
    line-height: 70px;
    text-align: center;

}

#inner-end-div>h2 {
    padding-bottom: 30px;
}

#btn-s {
    display: inline-block;
    background-color: #0768F8;
    color: #fff;
    width: 300px;
    height: 50px;
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    cursor: pointer;

}

#btn-s:hover {
    color: #f2ed64;
}

#inner-end-div>p {
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: hsl(0, 0%, 20%);
    font-weight: 400;
    font-size: 25px;
}

#footer{
    display: flex;
    justify-content: space-evenly;
}

#footer {
    /* border:2px solid black; */
    display:flex;
    flex-direction:row;
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    line-height: 40px;
    /* height: 300px; */
    background: rgb(247, 233, 215);
    font-weight: 500;


}

#footer>div:hover {
    cursor: pointer;
}

.f {
    font-size: 20px;
    font-family: HaasText, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: hsl(0, 0%, 20%);
    font-weight: 700;
    padding-top: 40px;
    cursor: pointer;


}

#finished {
    display:flex;
    flex-direction:row;
    background: #e2e3ef;
    /* max-width: 100%; */
}

#inner-finished {
    display: flex;
    justify-content: space-between;
    /* border:2px solid black; */
    width: 400px;
    /* height: 50px; */
    padding-top: 20px;
    font-weight: 600;
    padding-left: 30px;
    cursor: pointer;
}

/* toggling drop down */

.div2 {
    display: none;
    position: absolute;
    z-index: 100;
}

.show {
    position: absolute;
    display: inline;
    height: 200px;
    width: 250px;
    padding-left: 20px;
    color: #0b041d;
    left: 180px;
    z-index: 200;
    background-image: linear-gradient(#4AC29A, #BDFFF3);
    font-size: 1.4rem;
    top: 95px;
    text-decoration: none;
    line-height: 40px;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.show :hover,
.showy :hover,
.showy1 :hover {
    background-color: #dddeec;
}

.show a {
    color: #181d26;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 40px;
    font-weight: 800;
}

.div4 {
    display: none;
    position: absolute;
    z-index: 100;
}

.showy {
    display: block;
    position: absolute;
    display: inline;
    height: 160px;
    width: 300px;
    color: #0b041d;
    left: 285px;
    z-index: 200;
    background-image: linear-gradient(#4AC29A, #BDFFF3);
    font-size: 1.4rem;
    top: 95px;
    padding-left: 20px;
    text-decoration: none;
    line-height: 40px;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.showy h5 {
    color: #181d26;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 40px;
    font-weight: 800;

}

.div6 {
    display: none;
    position: absolute;
    z-index: 100;
}

.showy1 {
    display: block;
    position: absolute;
    display: inline;
    height: 500px;
    color: #0b041d;
    left: 390px;
    z-index: 200;
    background-image: linear-gradient(#4AC29A, #BDFFF3);
    font-size: 1.4rem;
    top: 95px;
    width: 300px;
    padding-left: 20px;
    text-decoration: none;
    line-height: 40px;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#signup a:hover {
    color: rgb(54, 15, 91)
}

#div1 {
    border-radius: 20px;
}

#div3 {
    border-radius: 20px;
}

#div5 {
    border-radius: 20px;
}


/* product page css  */
video {
    width: 100%;
}

#product1 {
    display: flex;

    background-color: #e3eff5;
    justify-content: space-between;



    /* border:10px solid black; */
}

#product2 {
    width: 40%;
    /* border:2px solid black; */
    padding-top: 60px;
    ;






}

#product3 {
    width: 50%;
    padding-top: 80px;
    ;
    /* border:2px solid black; */
    /* padding-left: 80px; */
    /* height: 700px; */
}

#product3 img {
    width: 100%;

}

#product2 h1 {
    font-family: Haas, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* color:#181d26; */
    color: black;
    font-weight: 600;
    font-size: 4rem;
    line-height: 70px;
    padding-left: 40px;
    margin-bottom: 25px;

}

#product2 p {
    color: #129fdc;
    font-family: Haas, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 40px;
    margin-bottom: 35px;

}

#product2 a {
    padding-left: 40px;
    padding-right: 33px;
    font-weight: 500;
    padding-bottom: 6px;
    font-family: Haas, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #fff;
    /* border: 2px solid black; */
    font-weight: 700;
    font-size: 20px;
    background-color: #1b61c9;
    border-radius: 14px;
}

#signup-1 {
    padding-left: 40px;
}

/* @media screen and (min-width:310px) and (max-width:500px) {
    #container {
        display: flex;
        flex-direction: column; */

/* display:flex; */
/* 
    } */

/* #container1{
       padding-left: 20px;;
   } */
/* #nav {
        display: flex;
        flex-direction: column-reverse;
    }

    #container4 {
        display: flex;
        flex-wrap: wrap; */
/* height: fit-content;
    }

    #innercontainer4 {
        display: flex;
        flex-wrap: wrap;
        height: fit-content; */


/* }

    #outsidelogo {
        height: fit-content;
        width: fit-content;
        margin: auto;
    } */
/* 
    #logo {
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        top: 60px;
        margin: auto;
        height: fit-content; */


/* }

    .companylogo {
        margin: auto;

    }

    video {
        width: 100%; */

/* height: fit-content; */

/*  */
/* } */
/* 
    #innerbottom {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content; */
/* margin-top: 30px;

    }

    #innerbottom1 {
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content; */
/* margin-top: 30px;
        padding-bottom: 80px;
        ;

    }

    #innerbottom2 video {
        height: fit-content; */
/* 
    }

    #bottom {
        height: fit-content;
        margin-top: 50px;
        width: fit-content;
    }
} */

@media screen and (min-width:310px) and (max-width:1100px) {

    #nav {
        display: flex;
        flex-direction:column-reverse;
        /* border:2px solid black; */
        width:100%;
    }
    #first{
        width:100%;
        /* border:2px solid black; */
    }

    #box1{
        width:200px; 
        /* font-size: 20px;  */
        /* padding:0px; */
        font-size: 12px;;
        /* border:2px solid rgb(6, 90, 42); */
    }

    #container {
        display: flex;
        flex-direction: column-reverse;
        /* width:100%; */
        /* border:2px solid black; */
    }

    #container2>video {
        width: 100%;
           /* border:2px solid black; */
    } 

    /* #container1{
     width:90%; */
        /* border:2px solid black; */
    /* } */

    #container2 {
        /* border:5px solid blue; */
        /* padding-top: 30px; */
        width:100%;
        
        /* padding-left:1.25% ;
        padding-right: 1.25%; */
        /* border:2px solid black; */


        /* border:5px solid rgb(219, 28, 28); */
    }

    #container1 {
        width: 95%;
        padding-left:1.25% ;
        padding-right: 1.25%;
        /* padding-left: 30px; */
        line-height: 45px;
        /* padding-top: 2px; */
    }

    #container1>h1 {
        font-size: 42px;
    }

    #logo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width:100%;
        /* border:2px solid black; */

    }

    .companylogo {
        width: 40%;
    }


    #outerlast {
        display: flex;
        flex-direction: column;
        /* border:2px solid black; */
        width:100%;

       
    }

    #innercontainer4 {
        display: flex;
        width:100%;
        flex-direction: column;
       
    }

    #innercontainer4>#h1 {
        font-size: 25px;
    }
    #innercontainer4>#p{
        font-size:22px;
        font-weight: 600;
    }

    
    #innerbottom {
        display:flex;
        flex-direction: column-reverse;
        /* border:2px solid black; */
        width:100%;

    }

    #innerbottom2{
        padding-top:0px;
        width:90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0px;;
    }
    #innerbottom1{
        padding-bottom: 20px;
        width:90%;
        padding-left: 5%;
        padding-right: 5%;
    }

     #innercontainer4{
        /* display:flex;
        flex-direction: column-reverse; */
        /* border:2px solid black; */
     }
    #outerfitness{
        display:flex;
        flex-direction: column-reverse;
        /* border:2px solid black; */
        width:100%;
    }
        
    .outerfitness {
        display:flex;
        flex-direction: column-reverse;
        /* border:2px solid black; */
      

    }

    #fitness1{
        /* padding-bottom: 10px; */
        width:90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top:10px;
        padding-bottom: 40px;
    }
    #fitness2{
        padding-top:0px;
        width:90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0px;;
    }
    #fitness2>h2{
        font-size: 40px;;
    }

           
    #sync {
        display:flex;
        flex-direction: column;
        /* border:2px solid black; */
        width:100%;
    }

    #sync2{
        /* padding-bottom: 10px; */
        width:90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top:10px;
    }
    #sync1{
        padding-top:0px;
        padding-left: 5%;
        padding-right: 5%;
        width:90%;
        padding-bottom: 0px;;
    }
    #sync1>h2{
        font-size: 50px;;
    }
    #sync2>p{
        font-size:25px;
        font-weight: 500;
    }

    #photo{
             width:100%;
             /* border:2px solid black; */
    }

    #outerlast{
        display:flex;
        flex-direction: column;
        /* border:2px solid black; */
    }
       #lastdiv1{
                width:90%;
                padding-left:5%;
                padding-right:5%;
            

       }
     #lastdiv1>h2{
        font-size: 40px;;
     }
    #lastdiv1>img{
        width:90%;
        /* border:2px solid black; */
       
    }
      #lastdiv2{
        width:90%;
        padding-top:0px;
        padding-left:5%;
        /* border:2px solid black; */
      }
    #lastdiv2>h3{
        font-size: 20px;
    }
    #lastdiv2>img{
        padding-top:30px;
    }

        #end-div{
            /* border:2px solid black; */
            width:100%;
        }
    #inner-end-div>h2{
        font-size: 40px;
        line-height: 40px;;
    }

      #btn-s{
        width:200px;
      }

      #footer{
        display:flex;
        flex-direction: column;
        width:100%;
        justify-content: center;
        align-items: center;
        /* border:2px solid black; */

      }

      #foot4,#foot3,#foot2,#foot1,#foot5{
        width:100%;
      text-align:center ;
      /* border:2px solid black; */
      }
      
        #finished{
            width:100%;
            /* border:2px solid black; */
            justify-content: space-evenly;

        }
          #inner-finished{
            font-weight: 400;;
            /* border:2px solid black; */
            /* padding-left:5%;
            padding-right:5%; */
          }
}

@media screen and (min-width:300px) and (max-width:1100px) {
    #product1 {
        display: flex;
        flex-direction: column-reverse;

    }

    /* #nav{
        width:100%;
    } */

    #product2>h1 {
        /* font-size: 50px; */
        font-size: 45px;
        /* font-size: initial; */
    }

    #product2 {

        width: 100%;
        padding-right: 5px;
    }

    #product3 {
        width: 100%;
        padding-top: 60px;
    }
}